.btn-add {
  background-color: #F2C94C;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.ruble-sign {
  font-size: 1.2em;
}

.search {
  border-radius: 20px !important;
  background-color: white;
  border: 0 white !important;
  margin-top: .5rem !important
}
