<footer class="bg-footer-image pt-2">
  <div class="navbar row justify-content-between w-100">
    <div class="navbar nav-foot whitecolor">
      <a class="navbar-brand" routerLink="">
        <img src="assets/logo.svg" alt="">
      </a>
      <a [routerLink]="['/']" class="">
        <h5 class="m-3">Все объявления</h5>
      </a>
      <a [routerLink]="['/about']" class="hide_500">
        <h5 class="m-3">О нас</h5>
      </a>
    </div>
    <div>
      <h6 style="color: #f0f0f0">Copyright &copy; 2020 SellNET</h6>
    </div>
  </div>
</footer>
