<nav class="bg-header-image mb-3">
  <div class="navbar">
    <a class="navbar-brand" routerLink="">
      <img src="assets/logo.svg" alt="">
    </a>

    <form class="search-box shadow-sm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="category my-auto">
        <div class="dropdown show category-dropdown">
          <a class="btn no-border dropdown-toggle" href="#" role="button" id="categoryMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{this.getCurrentCategoryName()}}
          </a>

          <div class="dropdown-menu round" aria-labelledby="categoryMenuLink">
            <a class="dropdown-item color-di" (click)="setCurrentCategory(category)"
               *ngFor="let category of categories">{{category.name}}</a>
          </div>
        </div>
      </div>

      <input formControlName="search_text" class="form-control no-border search-input" type="search"
             placeholder="Введите запрос..." aria-label="Search">

      <button class="btn submit-search-btn shadow-sm" type="submit">
        <i class="fas fa-arrow-right whitecolor"></i>
      </button>
    </form>

    <div class="log-box shadow-sm" *ngIf="!isLogged()">
      <a [routerLink]="'/login'">
        <button class="btn">Вход</button>
      </a>
      <a [routerLink]="'/signup'">
        <button class="btn reg-btn shadow-sm">Регистрация</button>
      </a>
    </div>

    <div class="log-box shadow-sm" *ngIf="isLogged()">
      <div class="profile-box">
        <div class="dropdown show round">
          <a class="btn no-border dropdown-toggle" href="#" role="button" id="profileBox" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img src="{{getAvatar()}}" class="avatar round mr-2"/>
            <span class="my-auto">
              {{currentUser.firstName}}
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right round" aria-labelledby="profileBox">
            <a class="dropdown-item color-di" [routerLink]="'/profile'">Мой профиль</a>
            <a class="dropdown-item color-di" [routerLink]="'/additem'">Добавить объявление</a>
            <a class="dropdown-item color-di" (click)="logout()">Выйти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
