<div class="container shadow round m-3 p-3 mx-auto bg-white">
  <div class="mx-3">
    <h2>О проекте</h2>

    <div class="my-3">
      Данный сайт был создан в качестве проектной работы во время практики СевГУ.<br/>
      Команда разработчиков:
      <div class="row">
        <div class="col-6">
          <div class="row round shadow mx-1 my-3 py-3 px-4 bg-white">
            <img src="https://sun9-21.userapi.com/c853620/v853620199/18bb0a/SJEEAsacOCc.jpg"
                 class="avatar rounded-circle mr-3"/>
            <div class="mx-3" style="display: grid">
              <div>
                <h3>Артем Попов</h3>
                <span class="">Разработчик</span>
              </div>
              <div class="mt-auto mb-1">
                <a class="vk btn-circle shadow-sm" href="https://vk.com/solve_man"><i class="fab fa-vk  "></i>
                  <span class="ml-3">ВКонтакте</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row round shadow mx-1 my-3 py-3 px-4 bg-white">
            <img src="https://sun9-25.userapi.com/c639222/v639222079/7e253/3ZnqI-6nEDw.jpg"
                 class="avatar rounded-circle mr-3"/>
            <div class="mx-3" style="display: grid">
              <div>
                <h3>Дмитрий Рощин</h3>
                <span class="">Разработчик</span>
              </div>
              <div class="mt-auto mb-1">
                <a class="vk btn-circle shadow-sm" href="https://vk.com/dimorodimoro"><i class="fab fa-vk  "></i>
                  <span class="ml-3">ВКонтакте</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row round shadow mx-1 my-3 py-3 px-4 bg-white">
            <img src="https://sun9-25.userapi.com/c639222/v639222079/7e253/3ZnqI-6nEDw.jpg"
                 class="avatar rounded-circle mr-3"/>
            <div class="mx-3" style="display: grid">
              <div>
                <h3>Даниил Ясыр</h3>
                <span class="">Разработчик</span>
              </div>
              <div class="mt-auto mb-1">
                <a class="vk btn-circle shadow-sm" href="https://vk.com/sunshineglow"><i class="fab fa-vk  "></i>
                  <span class="ml-3">ВКонтакте</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row round shadow mx-1 my-3 py-3 px-4 bg-white">
            <img src="https://sun9-25.userapi.com/c639222/v639222079/7e253/3ZnqI-6nEDw.jpg"
                 class="avatar rounded-circle mr-3"/>
            <div class="mx-3" style="display: grid">
              <div>
                <h3>Дмитрий Рощин</h3>
                <span class="">Разработчик</span>
              </div>
              <div class="mt-auto mb-1">
                <a class="vk btn-circle shadow-sm" href="https://vk.com/sunshineglow"><i class="fab fa-vk  "></i>
                  <span class="ml-3">ВКонтакте</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
