.avatar {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.btn-circle {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  padding: .5rem 1rem;
  font-weight: 500;
}
